.title {
    margin: 100px;
    background-image: url(images/banner/banner3.png);
    height: 900px;
    background-repeat: no-repeat;

}

.sub-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: aliceblue;
    text-align: end;
    padding-top: 200px;
    padding-right: 150px;
    padding-left: 900px;
}

.sub-title h1 {
    font-size: 50px;
}

.sub-title p {
    font-size: 20px;
}

.contact-btn {
    color: rgb(5, 47, 47);
    border: 0;
    border-radius: 5px;
    height: 35px;
}

.failure {
    background-color: beige;
    display: flex;
    align-items: center;

    padding-left: 100px;
}

.failure-img {}

.failur-second {
    padding-left: 400px;
    height: 500px;

}

.sub-failure {
    font-size: 50px;
}

.list {
    display: flex;
}

.list-icon {
    color: green;
}

.list-description {
    padding-left: 10px;
}

.plan {
    height: 90px;
    padding-top: 10px;
    background-color: aquamarine;
    text-align: center;
    margin-bottom: 5px 10px;
}

.plan-title {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.plan-style {
    background-color: aqua;
    display: flex;
    padding: 50px 300px;
}

.rules {
    padding-left: 150px;
}

.sub-plan h2 {
    font-size: 20px;
}

.about {
    display: flex;
    padding-left: 500px;
    padding-top: 50px;
    background-color: darkcyan;
}

.about-title img {
    padding-top: 5px;
    padding-bottom: 45px;
    height: 300px;
}

.about-title {

    padding-left: 200px;
}

.positive {
    background-image: url(images/watch.png);
    background-repeat: no-repeat;
    margin-left: 270px;
    margin-bottom: 10px;
    width: 1140px;
    height: 300px;


}

.title-pos {
    padding-left: 50px;
}

.pos {
    padding-top: 50px;
    padding-right: 400px;
    font-size: 50px;
    font-weight: 600;
}

.call {
    background-color: rgb(20, 92, 121);
    color: white;
    height: 40px;
    width: 100px;

    border-radius: 5px;
    font-size: 20px;
}

footer {
    padding-top: 50px;
}

.foot {
    background-color: hwb(240 2% 55%);
    display: flex;
    padding: 80px;

    color: white;
}

.foot-description {
    padding-right: 20px;
}

.subs {
    background-color: hwb(240 2% 55%);
    font-size: 20px;
    padding: 10px;

}

.sub {
    background-color: hwb(240 4% 25%);
    color: white;
    height: 50px;
    width: 120px;
    margin: 10px;
    border-radius: 3px;
}